 <ion-content>
   <ion-row>
     <ion-col size-md="8" offset-md="2">
       <ion-card>
         <ion-card-header>
           <ion-img src="assets/icon/logo.png" alt="Taurai"></ion-img>
           <ion-item lines="none">
            <ion-label class="ion-text-center">
              <ion-text>
                <h1>Enter username to continue</h1>
              </ion-text>
            </ion-label>
          </ion-item>
         </ion-card-header>
         <ion-card-content>
           <form (ngSubmit)="login()" [formGroup]="loginForm">
             <ion-item lines="none" class="ion-margin-vertical" color="light">
               <ion-label color="primary">
                <ion-icon name="person" slot="start"></ion-icon>
              </ion-label>
               <ion-input formControlName="username"></ion-input>
             </ion-item>
<!--             <ion-item lines="none" color="light">-->
<!--              <ion-label color="primary">-->
<!--                <ion-icon name="lock-closed" slot="start"></ion-icon>-->
<!--              </ion-label>-->
<!--              <ion-input color="primary" [type]="passType" formControlName="password" class="ion-padding-end" placeholder="Password"></ion-input>-->
<!--              <ion-button fill="clear" (click)="passType === 'password' ? passType = 'text' : passType = 'password'">-->
<!--                <ion-icon [name]="passType === 'password'  ?  'eye-off' : 'eye'"></ion-icon>-->
<!--              </ion-button>-->
<!--            </ion-item>-->

             <ion-button type="submit" expand="block" size="large" [disabled]="!loginForm.valid">Sign in</ion-button>

<!--             <ion-item lines="none">-->
<!--              <ion-label class="ion-text-center">-->
<!--                <ion-text>-->
<!--                  <h3>-->
<!--                    Don't have an an account ?-->
<!--                  </h3>-->
<!--                </ion-text>-->
<!--                <ion-button expand="block" fill="clear" size="large" (click)="signUp()">Register</ion-button>-->
<!--              </ion-label>-->
<!--             </ion-item>-->
          </form>
         </ion-card-content>
       </ion-card>
     </ion-col>
   </ion-row>
  </ion-content>


